@import "tailwindcss";
@plugin '@tailwindcss/typography';

.blog-content h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding-bottom: 0.75rem;
  border-bottom-width: 2px;
  border-bottom-color: rgb(229 231 235);
  font-weight: 700;
}

.blog-content h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.blog-content h4 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
